/*
* CSS para estilizar a página Dashboard 
*/
.Dashboard{
    text-align: center;
    margin:0;
    padding: 0;
}

/*Estilizações para o título do dashboard*/
.Dashboard #header_dashboard{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    width: auto;
}

.Dashboard #title_header{
    flex:70%;
    color: #5A5773;
    font-family: InterUI;
    font-size: 24px;
    letter-spacing: -0.4px;
    line-height: 26px;
    text-align: left;

}

.Dashboard #time_header{
    flex:30%;
    font-family: Roboto;
    font-size: 12px;
    letter-spacing: -0.02px;
    line-height: 24px;
    opacity: 0.5047723679315477;
}

.Dashboard #container{
    margin-top: 10px;
    margin-left: 0px;
    padding: 0;
}

/*Estilizações para os cards do dashboard*/
.Dashboard #row{
    margin: 0;
    padding: 0;
    height: auto;
    width: auto;
}
.Dashboard #col{
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    width: auto;
    border: 0;
    margin-top: 10px;
}

.Card{
  background-color: #FFFFFF;
  border-radius: 15px;
  box-shadow: 20px 25px 40px 0 rgba(35, 38, 90, 0.06);
  width: 240px;
  height: 197px;
}

.Card #header_card{
    text-align: left;
    display: flex;
    flex-direction: row;
}

.Card #title_card{
    margin-top: 20px;
    margin-left: 10px;
    color: #5A5773;
    font-family: InterUI;
    font-size: 16px;
    letter-spacing: -0.09px;
    line-height: 24px;
    opacity: 0.6146952311197916;
    width: 204px;
}

.Card #content_card{
    margin: 50px;
    color: #5A5773;
    font-family: InterUI;
    font-size: 39px;
    letter-spacing: -1.46px;
    line-height: 26px;
    text-align: center
}

.Card #faturamento_adjustment{
    display: flex;
    flex-direction: row;
    text-align: center;
}

.Card #faturamento_money{
    color: #5A5773;
    font-family: InterUI;
    font-size: 19px;
    letter-spacing: -0.11px;
    line-height: 24px;
    opacity: 0.6146952311197916;
    width: 27px;
    text-align: left;
    margin-top: 55px;
    margin-left: 20px;
}

.Card #faturamento_price{
    margin-top: 50px;
    margin-bottom: 50px;
    color: #5A5773;
    font-family: InterUI;
    font-size: 39px;
    letter-spacing: -1.46px;
    line-height: 26px;
    text-align: center
}

.Card #footer_card{
    margin:auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.Card #text_card{
    color: #5A5773;
    font-family: InterUI;
    font-size: 18px;
    letter-spacing: -0.67px;
    line-height: 26px;
    opacity: 0.5387028285435268;
    text-align: center;
    margin-left: 10px;
}

/*Estilizações para os ícones dos Cards*/

.Card #cart_icon{
    color: #1094FF;
    margin-top:23px;
    margin-left: 20px;
}
.Card #sales_icon{
    color: #00D954;
    margin-top:23px;
    margin-left: 20px;
}
.Card #exchange_icon{
    color: #FFD610;
    margin-top:23px;
    margin-left: 20px;
}
.Card #user_icon{
    color: #9000D9;
    margin-top:23px;
    margin-left: 20px;
}
.Card #up_icon{
    color: #00D954;
    margin-top: 8px;
    align-self: center;
}

.Card #down_icon{
    color: #D90000;
    align-self: center;
    margin-bottom: 8px;
}

/*Estilizações para o gráfico do dashboard*/

.Graph{
    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: 20px 25px 40px 0 rgba(35, 38, 90, 0.06);
    width: 1070px;
    height: 300px;
    margin-top: 30px;
}

.Graph #graph_header{
    display: flex;
    flex-direction: row;
}

.Graph #sales_icon{
    color: #00D954;
    margin-top:23px;
    margin-left: 20px;
}

.Graph #graph_title{
    color: #5A5773;
    font-family: InterUI;
    font-size: 16px;
    letter-spacing: -0.09px;
    line-height: 24px;
    opacity: 0.6146952311197916;
    width: 204px;
    text-align: left;
    margin-top:20px;
    margin-left: 10px;
}

.Graph #graph_picture{
    height: 250px;
}

/*Responsividade da div do gráfico e sua respectiva imagem*/

@media screen and (max-width: 400px){
    .Graph{
       height: 200px;
       width: 300px;
    }
    .Graph #graph_picture{
        width:200px;
        height: 100px;
    }
}