/*
* CSS para estilizar o menu vertical
*/

/*Estilo quando o menu estiver aberto */
.Menu{
    background-color: white;
    width: 200px;
    height: 100vh;
    text-align: center;
    box-shadow: 20px -1 40px 0 rgba(35, 38, 90, 0.06);
}

/*Estilo para esconder o menu */
.Menu_inactive{
    left: -100px;
}

.Menu_map{
    width: 100%;
    height: auto;
    padding: 0;
}

.Menu_map .row{
    width: 100%;
    height: 50px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    font-family: InterUI;
    font-size: 14px;
    letter-spacing: -0.4px;
    text-align: left;
}

/*Estilizações do item da página atual (item ativo)*/

.row #title_inactive{
    flex: 70%;
    color: #5A5773;
    font-weight: lighter;
    margin-top: 10px;

    
}

.row #icon_inactive{
    flex: 30%;
    display: grid;
    place-items: center;
    margin-bottom: 10px;
}

/*Estilizações dos outros itens  (itens inativos)*/

.row #icon_active{
    flex: 30%;
    display: grid;
    place-items: center;
    margin-bottom: 10px;
    color:#00D954;
}
.row #title_active{
    flex: 70%;
    font-weight:bold;
    margin-top: 10px;
}