/*
* CSS para estilizar  a aplicação raiz
*/
.App{
  width: 100vw;
  height: 100vh;
  background-color: #F8F7FB;
}


body{
  margin: 0;
  padding: 0;
}

.App #container{
  padding: 0;
  margin: 0;
}

.App #row{
  padding: 0;
  margin: 0;
  width:100vw;
  height: 100vh;
}
.App #col_pages{
  padding:0;
  margin-left:15px;
  margin-right: 0;
  margin-bottom: 0;
}

.App #col_menu{
  padding:0;
  margin:0;
}